extends main

block body
    div(class='container')
        div(class='loginForm col-lg-5 col-md-8 col-sm-8 p-4', style={top: '50%', left: '50%', position: 'absolute', transform: 'translate(-50%, -50%)', background: '#f3f3f3', boxshadow: '1px 1px 4px #dcdcdc'})
            div(class='loginHeader pt-3 pb-4')
                h4 Product Form
                p Type a Product!
            form(action="/api/products", method="post")   
                div(class='loginBody')  
                    div(class='form-group')
                        div(class='input-group mb-3')
                            input(type="text", id="title", class="form-control form-control-lg", name="title", placeholder="Name")
                            div(class='input-group-append')
                                span(class='input-group-text p-3')
                                    i(class='fa fa-user')
                    div(class='form-group')
                        div(class='input-group mb-3')
                            input(type="number", id="price", class="form-control form-control-lg", name="price", placeholder="Price")
                            div(class='input-group-append')
                                span(class='input-group-text p-3')
                                    i(class='fa fa-user')
                    div(class='form-group')
                        div(class='input-group mb-3')
                            input(type="text", id="thumbnail", class="form-control form-control-lg", name="thumbnail", placeholder="Url Image")
                            div(class='input-group-append')
                                span(class='input-group-text p-3')
                                    i(class='fa fa-user')      
                    div(class='text-right form-group')
                        a(href="#") Help?   
                    div(class='form-group')
                        button(class='btn btn-block btn-lg btn-primary') Save        
